* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
   overflow-x: hidden;

}

html {
   width: 100vw;
   height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0 0 35px;
   font-family: 'Quicksand', sans-serif;
   letter-spacing:1px;
}

p {
   margin: 0 0 25px;
   font-size: 28px;
}
header{
    font-family: 'Quicksand', sans-serif;
}

section {
    padding: 100px;
 }

 .nav-desktop a{
   margin-left: 2em;
  display:inline-block;
  font-family: 'Quicksand', sans-serif;
}

#navbar a:hover{
    color: rgb(49, 49, 49);
    background-color:  #dad7d6;
}


.navbar-default .navbar-nav > li > a {
   color:white;

}

.navbar-default .navbar-nav > li > a:hover {
   color: rgb(157, 158, 158);
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
   color: rgb(212, 209, 209);
}

.navbar-default  a.navbar-brand:visited {
   color: ;
}

.navbar {
   padding: 5px;
   background-color: rgb(31, 30, 30);

}

.ux{
  font-weight: bolder;
}

.intro {
    background-image:url("../assets/images/pastel3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: table;
    width: 100vw;
    height: auto;
    /*margin-top: -18px;*/
    padding: 15em 0;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
 }
 .intro .intro-body {
    display: table-cell;
    vertical-align: middle;
 }

 .intro .intro-body .intro-heading {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 85px;
    color:rgb(48, 47, 47);
    margin-top: 80px;

 }

 .intro .intro-text {
    margin-top: -30px;
    font-size: 50em;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: (48, 47, 47)
 }
#skills{
    background: #b1c9b0;
    /* padding: 150px 50px 120px 50px;
    background-position: center;
    background-repeat: no-repeat;
    display: table; */
    width: 100vw;
    height: auto;
}
 .portfolio-item {
    margin-top: 20px;
 }

.skills ul{
     list-style: none;
     font-size: 1.5em;

 }

 .cv-btn{
  font-family: 'Quicksand', sans-serif;
  font-size: 0.85em;
  background-color: rgb(73, 73, 73);
  border-color: rgb(73, 73, 73);
 }


 #work .portfolio-item {
    right: 0;
    margin: 0 0 15px;
    width: 100vw;
 }

 #work .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 500px
 }

 .portfolio-item .img-responsive {
    margin: 0 auto;
 }

#work .portfolio-item .caption-content {
    margin: 0 auto;
    text-align: center;
 }
#contact {
    background-color: #b07da3;
    padding: 150px 50px 120px 50px;
     width: 100vw;
    height: auto;
 }
 .info{
  margin-left: 1em;
 }


/* Media Queries*/
@media(min-width:769px) {

    .intro .intro-body .intro-heading {
        font-size: 80px;
    }

    .intro .intro-body .intro-text {
        font-size: 23px;
    }
    #contact #work {
      width: 100vw;
    }
    .intro{
      width: 100vw;
    }


    section h2.section-heading {
        font-size: 55px;
    }

    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }



 }


 @media(max-width:768px) {


    .intro .intro-body .intro-heading {

        font-size: 60px;
        width: auto;
    }

    .intro .intro-body .intro-text {
        font-size: 18px;


    }

    #contact #work {
      width: 100vw;
    }
    .intro{
      width: 100vw;
    }
   section h2.section-heading {
        font-size: 35px;

    }

    section {
        padding: 100px 0;
        margin: auto;
    }
 }


 @media(max-width:360px) {
    .intro .intro-body .intro-heading {

        font-size: 45px;
    }

    .intro .intro-body .intro-text {
        font-size: 18px;


    }

    #contact #work {
      width: 100vw;
    }
    .intro{
      width: 100vw;
    }

    @media(max-width:320px) {
      .intro .intro-body .intro-heading {
  
          font-size: 35px;
      }
  
      .intro .intro-body .intro-text {
          font-size: 10px;
  
  
      }
  
      #contact #work {
        width: 100vw;
      }
      .intro{
        width: 100vw;
      }
    }


 }