* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
   overflow-x: hidden;
   
}

html {
   width: 100%;
   height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0 0 35px;
   font-family: 'Quicksand', sans-serif;
   letter-spacing:1px;
}

p {
   margin: 0 0 25px;
   font-size: 18px;
}
header{
    font-family: 'Quicksand', sans-serif;
}

section {
    padding: 100px;
 }

 .nav-desktop a{
   margin-left: 2em;
  display:inline-block;
  font-family: 'Quicksand', sans-serif;
}
  
#navbar a:hover{
    color: rgb(49, 49, 49);
    background-color:  #dad7d6;
}


.navbar-default .navbar-nav > li > a {
   color:white;

}

.navbar-default .navbar-nav > li > a:hover {
   color: rgb(157, 158, 158);
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
   color: rgb(212, 209, 209);
}

.navbar-default  a.navbar-brand:visited { 
   color: ;
}

.navbar {
   padding: 5px;
   background-color: rgb(31, 30, 30);
   
}


.intro {
    background-image:url("../assets/images/pastel3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: table;
    width: 100%;
    height: auto;
    /*margin-top: -18px;*/
    padding: 15em 0;
    text-align: center;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
 }
 .intro .intro-body {
    display: table-cell;
    vertical-align: middle;
 }
 
 .intro .intro-body .intro-heading {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 85px;
    color:rgb(48, 47, 47);
    margin-top: 80px;
 
 }
 
 .intro .intro-text {
    margin-top: -30px;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: (48, 47, 47)
 }
.skills{
    background: #bcd2b1;
    padding: 150px 50px 120px 50px;
    background-position: center;
    background-repeat: no-repeat;
    display: table;
    width: 100%;
    height: auto;
}
 .portfolio-item {
    margin-top: 20px;
 }

.skills ul{
     list-style: none;
     font-size: 1.5em;

 }
 #work .portfolio-item {
    right: 0;
    margin: 0 0 15px;
 }
 
 #work .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 350px
 }
 
 .portfolio-item .img-responsive {
    margin: 0 auto;
 }
 
#work .portfolio-item .caption-content {
    margin: 0 auto;
    text-align: center;
 }
#contact {
    background-color: #e2af9d;
    padding: 150px 50px 120px 50px;
    background-position: center;
    background-repeat: no-repeat;
    display: table;
    width: 100%;
    height: auto;
 }

#contact img {
    margin-right: 10em;
    margin-left: 10em;
    bottom:2em;
    
}

/* Media Queries*/
@media(min-width:769px) {

    .intro .intro-body .intro-heading {
        font-size: 80px;
    }   
 
    .intro .intro-body .intro-text {
        font-size: 23px;
    }
  
    
    section h2.section-heading {
        font-size: 55px;    
    }
 
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
    
 
 
 }
 
 
 @media(max-width:768px) {
    
 
    .intro .intro-body .intro-heading {
        
        font-size: 60px;
    }   
 
    .intro .intro-body .intro-text {
        font-size: 18px;
    
    
    }
 
   section h2.section-heading {
        font-size: 35px;
        
    }
 
    section {
        padding: 100px 0;
        margin: auto;
    }
 }
 
 
 @media(max-width:360px) {
    .intro .intro-body .intro-heading {
        
        font-size: 45px;
    }   
 
    .intro .intro-body .intro-text {
        font-size: 18px;
    
    
    }
 
    
 }
 /*animation*/
 @keyframes music-notes {
  0%, 100% {
    transform: translate(0, 0); }
  50% {
    transform: translate(0, 5px); } }

@keyframes tea-steeper {
  0%, 100% {
    transform: translate(0, 0); }
  50% {
    transform: translate(2px, 0); } }

@keyframes tea-steam {
  0%, 100% {
    transform: translate(0, 0) scale(1, 1); }
  50% {
    transform: translate(3px, 0) scale(0.8, 1); } }

@keyframes cat-eyes {
  0%, 100% {
    transform: scale(1, 1); }
  30%, 70% {
    transform: scale(1, 0.3); } }

@keyframes cat-eyes-blink {
  0%, 6%, 100% {
    transform: scale(1, 1); }
  2% {
    transform: scale(0.5, 0.5); } }

@keyframes safie-tail {
  0%, 100% {
    transform: rotate(0); }
  40%, 70% {
    transform: rotate(-5deg); } }

@keyframes serena-eyes {
  0%, 100% {
    transform: translate(0, 0); }
  25% {
    transform: translate(-0.5px, 0); }
  50% {
    transform: translate(1.5px, 0); } }

@keyframes serena-hands {
  0%, 100% {
    transform: translate(-5px, 0); }
  70% {
    transform: translate(5px, 0); } }

@keyframes serena-leg {
  0%, 100% {
    transform: rotate(0); }
  50% {
    transform: rotate(0.7deg); } }

@keyframes serena-shoe {
  0%, 100% {
    transform: rotate(0); }
  25% {
    transform: rotate(-4deg); }
  50% {
    transform: rotate(4deg); } }

@keyframes leaves-left {
  0%, 100% {
    transform: rotate(0); }
  50% {
    transform: rotate(6deg); } }

@keyframes leaves-right {
  0%, 100% {
    transform: rotate(0); }
  50% {
    transform: rotate(-6deg); } }


.landing {
  background: #c04848;
  background: linear-gradient(to top, #c04848, #480048);
  transition: height .5s ease;
  z-index: 50; }

.landing__content {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: block; }

.landing__title {
  display: none; }

.landing__svg--animate {
  transform-origin: 50% 50%; }

.music-notes .landing__svg--animate {
  animation-name: music-notes;
  animation-iteration-count: infinite; }

.music-notes .music-notes__1 {
  animation-duration: 5s; }

.music-notes .music-notes__2 {
  animation-duration: 4s;
  animation-delay: .5s; }

.music-notes .music-notes__3 {
  animation-duration: 7s;
  animation-delay: .2s; }

.tea .tea__cup__steeper {
  animation: tea-steeper 10s infinite; }

.tea .tea__steam__large {
  animation: tea-steam 5s infinite; }

.tea .tea__steam__small {
  animation: tea-steam 8s .4s infinite; }

.safie__eyes .landing__svg--animate {
  animation-name: cat-eyes;
  animation-iteration-count: infinite; }

.safie__eyes .safie__eyes__left,
.safie__eyes .safie__eyes__right {
  animation-duration: 15s; }

.safie__tail {
  transform-origin: 100% 0%;
  animation: safie-tail 7s infinite; }

.pace__tail {
  transform-origin: 100% 100%;
  animation: safie-tail 3s .5s infinite; }

.pace__eyes .pace__eyes__left,
.pace__eyes .pace__eyes__right {
  animation: cat-eyes-blink 5s infinite; }

.serena__eyes .serena__eyes--left,
.serena__eyes .serena__eyes--right {
  animation: serena-eyes 7s 1s infinite; }

.serena__hand__left {
  animation: serena-hands 6s 2s infinite; }

.serena__leg {
  transform-origin: 0 0;
  animation: serena-leg 10s infinite; }

.serena__leg__shoe {
  animation: serena-shoe 20s infinite; }

.plant .leaf--right {
  transform-origin: 0% 50%;
  animation: leaves-right 8s infinite; }

.plant .leaf--left {
  transform-origin: 100% 100%;
  animation: leaves-left 8s infinite; }
